* text=auto
*.dart text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.swift text eol=lf
*.lock text eol=lf
*.md text eol=lf
*.gradle text eol=lf
*.properties text eol=lf

# Binary files that should not be modified
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.webp binary
